<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Lista de Servicios todos los roles</title>
</head>
<body>
<h1>Servicios que no estan eliminados</h1>
<br>

    <a th:href="@{/servicio/form}">Nuevo</a>
    <a th:href="@{/servicio/admin/list}">Ver todo</a>

<br>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Duracion</th>
        <th>RequiereEmpleado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servicio : ${servicios}">
        <td th:text="${servicio.nombre}"></td>
        <td th:text="${servicio.duracion}"></td>
        <td>
            <a th:href="@{/servicio/edit/{id}(id=${servicio.id})}">Editar</a>
            <form th:action="@{/servicio/delete/{id}(id=${servicio.id})}" method="post" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>

</body>
</html>