<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${ubicacionRequestDTO.idUbicacion != null} ? 'Editar Ubicación' : 'Nueva Ubicación'">Formulario Ubicación</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<form th:action="${ubicacionRequestDTO.idUbicacion != null} ? @{/ubicacion/update/{idUbicacion}(idUbicacion=${ubicacionRequestDTO.idUbicacion})} : @{/ubicacion/save}" 
      method="post" th:object="${ubicacionRequestDTO}">
    <h1 th:text="${ubicacionRequestDTO.idUbicacion != null} ? 'Editar Ubicación' : 'Nueva Ubicación'"></h1>
    <input type="hidden" th:if="${ubicacionRequestDTO.idUbicacion != null}" th:field="*{idUbicacion}" />

    <div class="input-group">
        <label>Localidad:</label>
        <input type="text" th:field="*{localidad}" placeholder="Ej: Lomas de Zamora" required />
        <div th:if="${#fields.hasErrors('localidad')}" th:errors="*{localidad}"></div>
    </div>

    <div class="input-group">
        <label>Calle:</label>
        <input type="text" th:field="*{calle}" placeholder="Ej: Av. Hipólito Yrigoyen" required />
        <div th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></div>
    </div>

    <div class="input-group">
        <label>Número:</label>
        <input type="number" th:field="*{numero}" placeholder="Ej: 1234" required />
        <div th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></div>
    </div>

    <button type="submit">Guardar Ubicación</button>

    <div class="volver-link mt-3">
        <a th:href="@{/ubicacion/admin/list}">Volver</a>
    </div>
</form>

</body>
</html>
