<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Ubicaciones</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div class="main-container">
        <h1>Ubicaciones que no están eliminadas</h1>
        
        <div class="action-buttons">
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/ubicacion/form}">Nuevo</a>
                <a th:href="@{/ubicacion/admin/list}">Ver todo</a> 
            </div>
        </div>
        
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Localidad</th>
                        <th>Calle</th>
                        <th>Número</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ubicacion : ${ubicaciones}">
                        <td th:text="${ubicacion.localidad}"></td>
                        <td th:text="${ubicacion.calle}"></td>
                        <td th:text="${ubicacion.numero}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="paginacion">
            <span th:if="${ubicaciones.hasPrevious()}">
                <a th:href="@{/ubicacion/list(page=${ubicaciones.number - 1})}">Anterior</a>
            </span>

            <span th:each="i : ${#numbers.sequence(0, ubicaciones.totalPages - 1)}">
                <a th:if="${i != ubicaciones.number}"
                   th:href="@{/ubicacion/list(page=${i})}"
                   th:text="${i + 1}">1</a>
                <span th:if="${i == ubicaciones.number}" style="font-weight: bold;" th:text="${i + 1}">1</span>
            </span>

            <span th:if="${ubicaciones.hasNext()}">
                <a th:href="@{/ubicacion/list(page=${ubicaciones.number + 1})}">Siguiente</a>
            </span> 
        </div>
        
        <div class="back-button">
            <a th:href="@{/index}">Volver</a>
        </div>
    </div>
</body>
</html>