<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empleados</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div class="main-container">
        <h1>Empleados que no están eliminados</h1>
        
        <div class="action-buttons">
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/empleado/form}">Nuevo</a>
                <a th:href="@{/empleado/admin/list}">Ver todo</a> 
            </div>
        </div>
        
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Fecha de nacimiento</th>
                        <th>Puesto</th> 
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="empleado : ${empleados}">
                        <td th:text="${empleado.nombre}"></td>
                        <td th:text="${empleado.apellido}"></td>
                        <td th:text="${empleado.dni}"></td>
                        <td th:text="${empleado.fechaDeNacimiento}"></td>
                        <td th:text="${empleado.puesto}"></td>
                        <td th:text="${empleado.contacto.email}"></td>
                        <td th:text="${empleado.contacto.telefono}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="paginacion">
            <span th:if="${empleados.hasPrevious()}">
                <a th:href="@{/empleado/list(page=${empleados.number - 1})}">Anterior</a>
            </span>

            <span th:each="i : ${#numbers.sequence(0, empleados.totalPages - 1)}">
                <a th:if="${i != empleados.number}"
                   th:href="@{/empleado/list(page=${i})}"
                   th:text="${i + 1}">1</a>
                <span th:if="${i == empleados.number}" style="font-weight: bold;" th:text="${i + 1}">1</span>
            </span>

            <span th:if="${empleados.hasNext()}">
                <a th:href="@{/empleado/list(page=${empleados.number + 1})}">Siguiente</a>
            </span> 
        </div>
        
        <div class="back-button">
            <a th:href="@{/index}">Volver</a>
        </div>
    </div>
</body>
</html>