<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Lista de Empleados todos los roles</title>
</head>
<body>
<h1>Empleados que no estan eliminados</h1>
<br>
    <div sec:authorize="hasRole('ADMIN')">
       <a th:href="@{/empleado/form}">Nuevo</a>
    	<a th:href="@{/empleado/admin/list}">Ver todo</a> 
    </div>
<br>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Fecha de nacimiento</th>
            <th>Puesto</th> 
        </tr>
    </thead>
    <tbody>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.apellido}"></td>
            <td th:text="${empleado.dni}"></td>
            <td th:text="${empleado.fechaDeNacimiento}"></td>
            <td th:text="${empleado.puesto}"></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<a th:href="@{/index}">Volver</a>

</body>
</html>