<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
	<h1 th:if="${#authentication.isAuthenticated()}">
	    Bienvenido <span th:text="${#authorization.expression('hasRole(''ADMIN'')') ? 'Administrador' 
	                   : (#authorization.expression('hasRole(''CLIENT'')') ? 'Cliente' 
	                   : (#authorization.expression('hasRole(''EMPLOYEE'')') ? 'Empleado' : 'Usuario'))}"></span>
	</h1>

    <form th:action="@{/auth/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <a th:href="@{/servicio/list}">Ver Servicios</a>
	<a th:href="@{/turno/elegir-servicio}">Pedir Turno</a>
	
	<div sec:authorize="hasRole('ADMIN')">
	    <a th:href="@{/cliente/admin/list}">Ver Clientes</a>
	    <a th:href="@{/empleado/admin/list}">Ver Empleados</a>
	    <a th:href="@{/ubicacion/admin/list}">Ver Ubicaciones</a>
	</div>


</body>
</html>