<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Elegir Horario</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/selector.css}">
</head>
<body>
    <div class="form-container">
        <h1>Elige un horario para tu turno</h1>
        <form th:action="@{/turno/guardar-horario}" method="post">
            <div>
                <label for="horario">Horario:</label>
                <select name="horario" id="horario" required>
                    <option value="" disabled selected>Seleccione un horario</option>
                    <option th:each="hora : ${horarios}" th:value="${hora}" th:text="${hora}"></option>
                </select>
            </div>
            <div class="button-container">
                <a th:href="@{/turno/elegir-fecha}" class="back-button">Volver</a>
                <button type="submit">Siguiente</button>
            </div>
        </form>
    </div>
</body>
</html>