<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Elegir Empleado</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/selector.css}">
</head>
<body>
    <div class="form-container">
        <h1>Elige un empleado</h1>
        <form th:action="@{/turno/guardar-empleado}" method="post">
            <div>
                <label for="idEmpleado">Empleado:</label>
                <select name="idEmpleado" id="idEmpleado" required>
                    <option value="" disabled selected>Seleccione un empleado</option>
                    <option th:each="empleado : ${empleados}"
                            th:value="${empleado.idPersona}"
                            th:text="${empleado.nombre}"></option>
                </select>
            </div>
            <div class="button-container">
                <a th:href="@{/turno/elegir-servicio}" class="back-button">Volver</a>
                <button type="submit">Siguiente</button>
            </div>
        </form>
    </div>
</body>
</html>