<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registrarse</title>
</head>
<body>
<form action="/auth/registro-cliente" method="post">
    <input type="text" name="username" placeholder="Email o nombre de usuario" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <input type="text" name="nombre" placeholder="Nombre" required />
    <input type="text" name="apellido" placeholder="Apellido" required />
    <input type="text" name="dni" placeholder="DNI" required />
    <input type="date" name="fechaDeNacimiento" placeholder="Fecha de nacimiento" required />
    <button type="submit">Registrarse</button>
</form>
</body>
</html>