<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error en la Edición de Disponibilidad</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="error-container">
        <h1>Error en la Edición del Servicio</h1>
        <p th:text="${mensajeError}"></p>
        <a th:href="@{'/servicio/edit/' + ${servicioId}}">Volver a la edición</a> 
    </div>
</body>
</html>