<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error - Servicio No Encontrado</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p th:text="${errorMessage}"></p>
        <a th:href="@{/servicio/admin/list}">Volver a la lista de servicios</a>
    </div>
</body>
</html>
