<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
	<link rel="stylesheet" th:href="@{/css/base.css}">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div class="main-container">
        <h1>Clientes que no están eliminados</h1>
        
        <div class="action-buttons">
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/cliente/admin/list}">Ver todo</a> 
            </div>
        </div>
        
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Fecha de nacimiento</th> 
                        <th>Último Inicio</th> 
                        <th>Email</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.apellido}"></td>
                        <td th:text="${cliente.dni}"></td>
                        <td th:text="${cliente.fechaDeNacimiento}"></td>
                        <td th:text="${#temporals.format(cliente.ultimoInicioSesion, 'yyyy-MM-dd / HH:mm')}"></td>
                        <td th:text="${cliente.contacto.email}"></td>
                        <td th:text="${cliente.contacto.telefono}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="paginacion">
            <span th:if="${clientes.hasPrevious()}">
                <a th:href="@{/cliente/list(page=${clientes.number - 1})}">Anterior</a>
            </span>

            <span th:each="i : ${#numbers.sequence(0, clientes.totalPages - 1)}">
                <a th:if="${i != clientes.number}"
                   th:href="@{/cliente/list(page=${i})}"
                   th:text="${i + 1}">1</a>
                <span th:if="${i == clientes.number}" style="font-weight: bold;" th:text="${i + 1}">1</span>
            </span>

            <span th:if="${clientes.hasNext()}">
                <a th:href="@{/cliente/list(page=${clientes.number + 1})}">Siguiente</a>
            </span> 
        </div>
        
        <div class="back-button">
            <a th:href="@{/index}">Volver</a>
        </div>
    </div>
</body>
</html>